/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fondo y centrado */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fefefe;
  color: #333;
}

/* Contenedor */
.menu-container {
  text-align: center;
  background: #fefefe;
  padding: 40px 60px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
}

/* Título */
.menu-container h1 {
  margin-bottom: 30px;
  font-size: 36px;
  color: #222;
}

/* Botones */
.menu-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  display: block;
  text-decoration: none;
  background: #0080ff;
  border: 2px solid #0080ff;
  color: #fefefe;
  padding: 10px 10px;
  border-radius: 8px;
  font-size: 16px;
  transition: background 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background: #005bb5;
  border: 2px solid #005bb5;
}

#user-info {
  margin-top: -20px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #686868;
}

#logout {
  background: #000000;
  border: 2px solid #000000;
  color: #ffffff;
}

#logout:hover{
  background: #ffffff;
  color: #000;
  border: 2px solid #000000;
}